**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.dockerignore
**/docker-compose*
**/*.md
**/*.log
**/coverage
**/.sonarqube
**/.scannerwork
**/.opencode
**/TestResults
**/sonar-project.properties
docker/.env
docker/.env.example
